
/*navbar*/

header{width: 100%}
/*header .m-navbar {border:1px solid red;}*/
header .m-navbar .icon-book{display:inline-block;width:40px;height:50px;background: url("../images/1.png")no-repeat -2px 2px;position: relative;left: -215px;}
header .m-navbar .logo{font-size:21px;font-family:"黑体";font-weight:bold;padding: 20px 100px;}
header .m-navbar .m-log{display:inline-block;padding: 24px 25px;font-size: 14px;}
header .m-navbar .m-log:hover{color: #e74f4d;font-weight: bold;}
header .m-navbar .icon-peo{display: inline-block;width: 20px;height: 20px;background: url("../images/1.png")no-repeat -263px -21px;position:absolute;right: 60px;top: 23px;}
header .m-navbar .m-subnav{margin-right: 100px;font-size: 14px;font-family: :"微软雅黑";box-sizing:border-box;}
header .m-navbar .m-subnav li>a{display:inline-block;padding: 24px 15px;}
header .m-navbar .m-subnav li>a:hover{color: #e74f4d;border-bottom: 1px solid #e74f4d;padding-bottom: 23px;}


/*inrto*/
main section{width:100%;}
main section .m-intro{position: relative;}
main section .m-intro figure img{width: 100%;}
main section .m-intro .intro-life{position: absolute;top: 230px;left: 117px;}
main section .m-intro .intro-life h1{font: 60px/1.25 "微软雅黑";color: #fff;}
main section .m-intro .intro-life p{width:300px;font: 21px/36px "微软雅黑";color:#fff;}
main section .m-intro .intro-life a{display:inline-block;font-size: 30px; padding: 20px 40px;margin-top:60px;background: #e74f4d;color: #fff;}


/*feature*/
main .m-feature .fte-list>li{width: 25%;padding-top: 40px;padding-bottom: 60px;/*border-right: 2px solid #ccc;*/}
main .m-feature .fte-list li .icon-cir{display:inline-block;width: 50px;height: 50px;background: url("../images/1.png")no-repeat -4px -64px;}
main .m-feature .fte-list li .icon-flag{display:inline-block;width: 50px;height: 50px;background: url("../images/1.png")no-repeat -4px -125px;}
main .m-feature .fte-list li .icon-flowes{display:inline-block;width: 50px;height: 50px;background: url("../images/1.png")no-repeat -4px -184px;}
main .m-feature .fte-list li .icon-squal{display:inline-block;width: 50px;height: 50px;background: url("../images/1.png")no-repeat -4px -258px;}
main .m-feature .fte-list li p{width: 154px;margin-top: 40px;line-height:30px;position: relative;left: 50%;transform:translateX(-50%);}
main .m-feature .fte-list li p.col::after{content: '';display:block;width: 2px;height: 60px; background: #ccc;position: relative;right: -264px;top: -60px;}




/*关于世界*/
main .m-world{
	width: 100%;
	background:#ededec;
	padding:80px 0 ; 
}
main .m-world i.icon-book{
	display: inline-block;
	width: 95px;
	height: 95px;
	margin-bottom: 50px;
	background: url("../images/2.png")no-repeat -3px 2px;

}
main .m-world h2{
	font-size: 54px;
	font-family: "黑体";
	color: #a8a8a8;
}

/*city*/
main .m-city .city-map{
	position: relative;
}
main .m-city .city-map img{
	width: 100%;
}
main .m-city .city-map h3{
	position: absolute;
	top: 50px;
	left: 50%;
	transform:translateX(-50%);
	font-family: :微软雅黑;
	font-size: 21px;
	color: #fff;
}
main .m-city .city-map p{
	position: absolute;
	top: 105px;
	left: 50%;
	transform:translateX(-50%);
	font-family: :微软雅黑;
	font-size: 12px;
	color: #fff;
}
.m-city .city-sear .form-search{
	display: flex;
}
.m-city .city-sear .form-search .sel{
	position: relative;
	bottom: 200px;
	z-index: 5;
	width: 237px;
	height: 40px;
	flex:1;
	padding: 0 20px;
	margin: 0 20px;
	border-radius: 5px;
	font-size: 12px;
}
.m-city .city-sear .form-search .sel option{
	background: #e4e3e5;
	color: #fff;
}
.m-city .city-sear .form-search .click{
	background: #be4e48;
	color: #fff;
	border-radius: 5px;
}



/*activity*/
	
.m-activity .active{
	width: calc(25% - 40px);
	margin: 20px;
	padding: 60px;
}
.m-activity .active figure img{
	border: 1px solid #cecfce;
	padding: 10px;
}
.m-activity .active figure h3{
	padding-left: 30px;
}
.m-activity .active figure.img-bottom h3{
	font-size: 16px;
	margin: 10px 0;
}
.m-activity .active figure p{
	padding-left: 30px;
}
.m-activity .active figure.img-bottom p{
	font-size: 12px;
	color: #ccc;
}
.m-activity .active .img-two h3{
	font-size: 21px;
	letter-spacing: 15px;
	margin-bottom: 10px;
}
.m-activity .active .img-two p{
	font-size: 12px;
	color: #ccc;
}



/*新世界介绍*/

.m-new .new-world{
	width: 100%;
	}
	.m-new .new-world .time{
	position: relative;
	width: 66.66%;
	}
	.m-new .new-world .time img{
	width: 100%;
	vertical-align: middle;
	}
	.m-new .new-world .time .bei{
	position:absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	}
	.m-new .new-world .time .bei h4{
	font-size: 50px;
	font-family: "微软雅黑";
	}
	.m-new .new-world .time .bei .ti{
	font-size: 157px;
	}
	.m-new .new-world .time .bei .bj, .m-new .new-world .time .bei span{
	font-size: 21px;
	}

	.m-new .new-world .m-title{
	width: 33.33%;
	position: relative;
	}
	.m-new .new-world .m-title::before{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: -20px;
	width: 0;
	height: 0;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-right: 20px solid #fff;
	}
	.m-new .new-world .m-title .tt-1{
	margin-top:40% ;

	}
	.m-new .new-world .m-title .tt-1 h4{
	font-size: 22px;
	margin-bottom: 30px;

	}
	.m-new .new-world .m-title .tt-1 p{
	display: inline-block;
	width: 289px;
	line-height: 30px;
	color: #aaa;
	}
	.m-new .new-world .m-title .tt-1 .more{
	display: block;
	width: 110px;
	padding: 10px;
	color: #e25c60;
	border:1px solid #e25c60;
	margin: 50px auto 25px;
	}
	.m-new .new-world .m-title .tt-1 span.cir{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #9a9a9a;
	margin 0 10px;
	}
	.m-new .new-world .m-title .tt-1 .cir-1{
	background: #929292;
	}


	.m-new .m-list{
	width: 100%;

	}
	.m-new .m-list li{
	width: 33.33%;
	font-size: 21px;
	/*margin-top: -4px;*/  解决上下边距空隙
	}
	.m-new .m-list li:first-child{
	background: #e74f4d;
	}
	.m-new .m-list li .center1 h5{
	/*	font-size: 21px;*/
	color:#fff;
	margin-top: 175px; 
	}
	.m-new .m-list li .center1 p{
	/*font-size: 21px;*/
	margin-top: 10px;	
	color: #fff;
	}
	.m-new .m-list li .center1 .bor{
	display: block;
	width: 35px;
	height: 2px;
	background: #fff; 
	margin: 20px auto;
	}
	.m-new .m-list li .center1 .moreL{
	display: block;
	border: 1px solid #fff;
	width: 170px;
	margin: 0 auto;
	padding: 5px;
	margin-bottom:220px; 
	color: #fff;
	}
	.m-new .m-list li .center2{
	position: relative;
	}
	.m-new .m-list li .center2:after{
	content: '';
	display: block;
	position: absolute;top: 50%;
	right: -20px;
	width: 0;
	height: 0;
	border-left: 20px solid #fff;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	}
	.m-new .m-list li .center2 h5{
	/*	font-size: 21px;*/
	margin-top: 175px; 
	}
	.m-new .m-list li .center2 p{
	/*font-size: 21px;*/
	margin-top: 10px;	
	}
	.m-new .m-list li .center2 .bor{
	display: block;
	width: 35px;
	height: 2px;
	background: #ccc; 
	margin: 20px auto;
	}
	.m-new .m-list li .center2 .moreL{
	display: block;
	border: 1px solid #e74f4d;
	width: 170px;
	margin: 0 auto;
	padding: 5px;
	margin-bottom:220px; 
	color: #e74f4d;
	}

/*information*/
main .information{
	padding: 120px 0;
}
main .information .titl{
	font-size: 21px;
	font-family: "黑体";
	font-weight: bold;
	text-align: center;
}
main .information .wire{
	display: block;
	width: 30px;
	height: 1px;
	background: #e74f4d;
	margin: 10px auto;
}
main .information .intro{
	color: #aaa;
	width: 420px;
	margin: 0 auto;
	line-height: 20px;
}


main .information .log .clause{
	width: 286px;
}
main .information .log .clause ul li:first-child{
	margin-bottom: 30px;
}
main .information .log .clause ul li{
	margin-bottom: 20px;
}
main .information .log .clause ul li h3{
	font-size: 14px;
	font-weight: bold;
	font-family: "黑体";
	margin-bottom: 20px;
}
/*main .information .log .clause ul li .more-bott{
	margin-bottom: 20px;
}*/
main .information .log .clause ul li p{
	color: #231815;
	margin-bottom: 10px;
}
main .information .log .clause ul li span{
	font-family: "宋体";
	color: #231815;
}
main .information .log .clause ul li span::before{
	content: '';
	display:inline-block;
	width: 20px;
	height: 20px;
	background: url("../images/1.png")no-repeat -268px -54px; 
	position: relative;
	top: 6px;

}

		
main .information .log{
	width: 1005px;
	margin: 100px auto;
}
.information .log .apply{
	width: 640px;
}
.information .log .apply form .informations{
	margin-left: -24px;
}
.information .log .apply form .informations input[type=text]{
	width: 310px;
	height: 40px;
	margin-left: 20px;
	margin-bottom: 15px;
	background: #ececee;
	padding-left: 20px;
}
.information .log .apply form textarea{
	width: 100%;
	height: 120px;
	margin-bottom: 15px;
	background: #ececee;
	padding-left: 20px;
	padding-top: 10px;
	color: #a29e9d;
}
.information .log .apply form button{
	width: 100%;
	height: 40px;
	font-size: 14px;
	font-family: "黑体";
	background: #ececee;
}

/*最后一个啦*/
.e-mail{
	width: 100%;
	padding: 90px 0;
	background: #32363e;
}
.e-mail .content{
	width: 510px;
	color: #fff;
	margin: 0 auto;
}
.e-mail .content h4{
	font-family: "黑体";
	font-size: 21px;
	margin-bottom: 10px;
}
.e-mail .content p{
	line-height: 16px;
	margin-bottom: 20px;
}
.e-mail .content .iconfont1{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background: url("../images/1.png")no-repeat -134px -64px;
}
.e-mail .content .iconfont2{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url("../images/1.png")no-repeat -134px -126px;
}
.e-mail .content .iconfont3{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	background: url("../images/1.png")no-repeat -134px -188px;
}


/*footer*/

footer{
	height: 58px;
	width: 100%;
	background: #2f2f38;
	position: relative;
	bottom: 0;
}
footer .foot{
	width: 100%;
}
footer .foot span{
	color: #fff;
	font-family: "宋体";
	line-height: 58px;
}



